@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* ID selector uses # */
#hello{}
/* Class selector uses . */
.day {}

html{
  /* CSS variable definitions */
  --type-main: #222222;
  --key: #fefefe;

  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 2rem;
  --padding-l: 4rem;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  /* CSS variables in use */
  color: var(--type-main);
  background-color: var(--key);
  background-image: url(../img/terrazzo.webp);
}
  body#techniques {
    background-image: none;
  }
  body#techniques header{
    background: var(--key);
  }

p{
  margin-bottom: var(--padding-s);
}

a{
  color: inherit;
}

h2{
  font-size: 2rem;
}

b,
strong{
  font-weight: 700;
}

i,
em{
  font-style: italic;
}

small{
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}
.img-m{
  max-width: 50%;
  max-height: 50%;
}
.img-s{
  max-width: 25%;
  max-height: 25%;
}

nav{
}
  nav ul{
    display: flex;
    /* gap: var(--padding-m); */
    font-size: 0.8rem;
  }

  nav ul li,
  header h1{
    padding: var(--padding-s);
  }

header{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .container{
   /* set up to transition when the user scrolls past a certain point.
     a change of the 'flex' value in js will trigger the transition */
  flex: 1;
  transition: flex 750ms;
  color: var(--key);
  background: var(--type-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main,
footer{
  padding: var(--padding-m);
}

main#thursday{
  padding: 0;
  color: var(--key);
  
  /* For snap-srcolling (pt.1): */
  /* You need to set a height for the parent element and make sure its contents are scrollable */
  /* overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory; */
}
main#thursday section{
  min-height: 100vh;
  margin: 0;
  padding: var(--padding-m);

  /* For snap-srcolling (pt.2): */
  /* Set which elements should be snapped to, and where */
  /* scroll-snap-align: start; */
}

section{
  margin: 2rem 0;
}

form {
  display: grid;
  align-items: center;
  border: 2px solid #000000;
  padding: 10px;
}
  form div {
    margin: 10px 0;
  }
  form input[type="text"] {
    width: 100%;
  }

footer{
  color: var(--key);
  background: var(--type-main);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.flex-full{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
  .flex-full h2{
    flex-basis: 100%;
  }
  .flex-full p{
    flex-basis: 60ch;
    line-height: 1.75rem;
  }
  .flex-full img{
    padding: var(--padding-m);
  }

.section-link{
  display: block;
}
  .section-link:hover{
    cursor: pointer;
  }

/* modal.js =================== */
/* uses: https://iconmonstr.com/x-mark-thin-svg/ */
.zoomable:hover,
.modal .close:hover{
  cursor: pointer;
}
.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000bb;
  opacity: 0;
  transition: opacity 250ms;
  z-index: 5000;
  display: flex;
  justify-content: center;
}
  .modal img{
    max-height: 100%;
  }
  .modal .close{
    position: absolute;
    top: var(--padding-s);
    right: var(--padding-s);;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/iconmonstr-x-mark-thin.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
/* ============================ */

.red,
.red-square{
  background: red;
}
.red-square{
  min-width: 50px;
  min-height: 50px;
  padding: 1rem;
}

.draggable{
  user-select: none;
  position: absolute;
  z-index: 1000;
}

.redback {
  background-color: red;
}

.greenback {
  background-color: green;
}

#message-area {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}

#scrollfader {
  opacity: 0;
  position: relative;
}

#scroll-meter{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: red;
}



/* audio-player.js ========= */
#audio-player{
  display: inline-block;
  padding: 1rem;
}
#audio-player .controls{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
#audio-player .controls > * {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
}
  #audio-player .controls > *:hover {
    cursor: pointer;
  }
/* controller graphics from iconmonstr - https://iconmonstr.com/?s=audio */
#audio-player .button_play{
  background: url(../img/media/play.svg);
}
#audio-player .button_pause{
  background: url(../img/media/pause.svg);
}
#audio-player .button_mute{
  background: url(../img/media/mute.svg);
}
/* ====================== */